@import "tailwindcss";
@plugin "daisyui"{
     themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Primary and secondary colors */
  --color-primary: #ef4444; /* red-500 */
  --color-secondary: #14b8a6; /* teal-500 */
  
  /* Base colors */
  --color-base-100: #ffffff; /* white */
  --color-base-200: #f3f4f6; /* gray-100 */
  --color-base-300: #e5e7eb; /* gray-200 */
  --color-base-content: #1f2937; /* gray-800 */
  
  /* Additional colors for the project */
  --color-accent: #8b5cf6; /* violet-500 */
  --color-success: #10b981; /* emerald-500 */
  --color-warning: #f59e0b; /* amber-500 */
  --color-info: #3b82f6; /* blue-500 */
  --color-error: #ef4444; /* red-500 */
}